@import "tailwindcss";


body{
  font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    
}
@theme{

   --color-primary:var(--primary);
   --color-secondary:var(--secondary);
   --color-tertiary:var(--tertiary)
}

@layer base{
  :root{
    --primary:#ff5252;
    --secondary:#0083e0;
    --tertiary:#7ce854;
    --primary-lighter:#ff7a7a;

  }
}

/* react-collapse smooth transition */
.ReactCollapse--collapse {
  transition: height 300ms;
  
}
.btn{
  padding:8px 20px !important;
}
.btn-blue{
  background-color:#0083e0 !important;
  color:white !important;
  padding:8px 20px !important;
}
.btn-sm{
  padding:6px 20px !important ; 
  font-size:13px !important;
}
.btn-lg{
  padding:8px 20px !important ; 
  font-size:16px !important;
}
.btn-blue:hover{
  background-color:#1690e5 !important;
  color:#f1f1f1 !important;
}
::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  
  background-color:#7ce854 !important;
  border-radius:50px

}


th.MuiTableCell-root{
  @apply bg-[#f1f1f1]
  py-2
}


/* default checked labeled checkbox in login page */
.css-rizt0-MuiTypography-root{
  font-size: 14px !important;
}