@import "tailwindcss";


body{
  font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: #f1f1f1;
    
}


@theme{

   --color-primary:var(--primary);
   --color-secondary:var(--secondary);
   --color-tertiary:var(--tertiary)
}

@layer base{
  :root{
    --primary:#ff5252;
    --secondary:#0083e0;
    --tertiary:#7ce854;
    --primary-lighter:#ff7a7a;

  }
}

/* remove input type number arrow */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.MuiSelect-select{
  background-color: #fff !important;
}


/* react-collapse smooth transition */
.ReactCollapse--collapse {
  transition: height 300ms;
  
}
.btn{
  padding:8px 20px !important;
}
.btn-blue{
  background-color:#0083e0 !important;
  color:white !important;
  padding:8px 20px !important;
}
.btn-sm{
  padding:6px 20px !important ; 
  font-size:13px !important;
}
.btn-lg{
  padding:8px 20px !important ; 
  font-size:16px !important;
}
.btn-blue:hover{
  background-color:#1690e5 !important;
  color:#f1f1f1 !important;
}
::-webkit-scrollbar{
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  
  /* background-color:#7ce854 !important; */
  background-color: #e3e3e3;
  border-radius:50px

}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}


th.MuiTableCell-root{
  @apply bg-[#f1f1f1]
  py-2
}


/* default checked labeled checkbox in login page */
.css-rizt0-MuiTypography-root{
  font-size: 14px !important;
}

.MuiAppBar-colorPrimary{background-color: #e6e6e6 !important;}

/* add product modal inputs  */
.addProductForm input{
  background-color: white;
}
.addProductForm textarea{
  background-color: white;
}


/* background for all modals  */
.MuiDialog-paper{
  background: #f9fafb !important;
}


/* stripped style for all MUI tables */
.MuiTableBody-root tr:nth-child(even){
  @apply bg-gray-50
}

.react-international-phone-input{
  width: 100% !important;

}


.react-international-phone-country-selector-button{
  width: 55px !important;
}
.react-international-phone-input-container{
  border:1px solid rgba(0, 0, 0, 0.1) !important;
}

