@media only screen and (min-width:320px) and (max-width:992){

    html,body{
        overflow-x: hidden;
    }
  
}


@media (max-width:768px){
 
        .home-slider::-webkit-scrollbar{
        display: none !important;
    }
    .css-1dc80h3-MuiTableCell-root{
        padding:3px !important
    }
}